*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:    #010e14;
}

.datetime {
    color: #fff;
    background:    #010e14;
    font-family: 'Segoe UI', sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #049947;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover{
    background: #049947;
    box-shadow: 0 0 30px #049947;
}

.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    color:  #ffffff;
    background: #049947;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

footer{
    position: absolute;
    bottom: 0;
    background: #010e14;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 80px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}